!!! XML
%rss{:version => "2.0", "xmlns:atom" => "http://www.w3.org/2005/Atom", "xmlns:content" => "http://purl.org/rss/1.0/modules/content/", "xmlns:dc" => "http://purl.org/dc/elements/1.1/", "xmlns:slash" => "http://purl.org/rss/1.0/modules/slash/", "xmlns:sy" => "http://purl.org/rss/1.0/modules/syndication/", "xmlns:wfw" => "http://wellformedweb.org/CommentAPI/"}
  %channel
    %title Fluxus » Post Formats
    %atom:link{:href => "http://inthe.me/demo/fluxus/category/post-formats/feed/", :rel => "self", :type => "application/rss+xml"}/
    = succeed "http://inthe.me/demo/fluxus" do
      %link/
    %description portfolio theme for creatives
    %lastbuilddate Sun, 04 May 2014 19:51:50 +0000
    %language en-US
    %sy:updateperiod hourly
    %sy:updatefrequency 1
    %generator http://wordpress.org/?v=3.9.2
    %item
      %title Video Post
      = succeed "http://inthe.me/demo/fluxus/video-post/" do
        %link/
      %comments http://inthe.me/demo/fluxus/video-post/#comments
      %pubdate Mon, 03 Dec 2012 17:05:13 +0000
      %dc:creator
        :cdata
          intheme
      %category
        :cdata
          Post Formats
      %guid{:ispermalink => "false"} http://inthe.me/demo/fluxus/?p=243
      %description
        :cdata
          This theme supports embedding YouTube, Vimeo and other videos into your blog posts. Just in case want to showcase some motion.
      %content:encoded
        :cdata
          <p>This theme supports embedding YouTube, Vimeo and other videos into your blog posts. Just in case want to showcase some motion.</p>
      %wfw:commentrss http://inthe.me/demo/fluxus/video-post/feed/
      %slash:comments 0
    %item
      %title Link Post Format
      = succeed "http://inthe.me/demo/fluxus/link/" do
        %link/
      %comments http://inthe.me/demo/fluxus/link/#comments
      %pubdate Mon, 03 Dec 2012 16:59:36 +0000
      %dc:creator
        :cdata
          intheme
      %category
        :cdata
          Ideas
      %category
        :cdata
          Post Formats
      %guid{:ispermalink => "false"} http://inthe.me/demo/fluxus/?p=251
      %description
        :cdata
          Nullam eu nunc convallis nisl accumsan varius. Maecenas fermentum sem nec augue hendrerit et dictum dolor bibendum. Suspendisse luctus magna a lorem auctor bibendum. Mauris vel placerat felis. Nam at varius tortor. Sed non orci nec libero tempus fermentum sed quis arcu. Mauris quis erat ante, nec pellentesque nisi. Quisque &amp;#8230;<div class="wrap-excerpt-more"><a class="excerpt-more" href="http://inthe.me/demo/fluxus/link/">Continue reading</a></div>
      %content:encoded
        :cdata
          <p>Nullam eu nunc convallis nisl accumsan varius. Maecenas fermentum sem nec augue hendrerit et dictum dolor bibendum. Suspendisse luctus magna a lorem auctor bibendum. Mauris vel placerat felis. Nam at varius tortor. Sed non orci nec libero tempus fermentum sed quis arcu. Mauris quis erat ante, nec pellentesque nisi.</p>
          <p>Quisque viverra lectus pretium nibh auctor facilisis. Cras sed est rutrum odio elementum cursus id et odio. Proin eu lobortis urna. Suspendisse non leo erat. Fusce gravida metus a urna lacinia quis molestie urna congue. Aliquam in sapien ut massa tincidunt pretium ac id nibh. Class aptent taciti sociosqu ad litora torquent per conubia nostra, per inceptos himenaeos. Maecenas lorem ipsum, porta et dictum et, bibendum non metus.</p>
      %wfw:commentrss http://inthe.me/demo/fluxus/link/feed/
      %slash:comments 0
    %item
      %title Quote by Joe
      = succeed "http://inthe.me/demo/fluxus/quote/" do
        %link/
      %comments http://inthe.me/demo/fluxus/quote/#comments
      %pubdate Mon, 03 Dec 2012 16:58:15 +0000
      %dc:creator
        :cdata
          intheme
      %category
        :cdata
          Post Formats
      %category
        :cdata
          quote
      %guid{:ispermalink => "false"} http://inthe.me/demo/fluxus/?p=247
      %description
        :cdata
          This is quote post format featuring some wise words. The quote is overlaid on top on featured image or over solid color if the featured image is not set.
      %content:encoded
        :cdata
          <p>This is quote post format featuring some wise words. The quote is overlaid on top on featured image or over solid color if the featured image is not set.</p>
      %wfw:commentrss http://inthe.me/demo/fluxus/quote/feed/
      %slash:comments 0
    %item
      %title Quote on top of the Image
      = succeed "http://inthe.me/demo/fluxus/quote-on-top-of-the-image/" do
        %link/
      %comments http://inthe.me/demo/fluxus/quote-on-top-of-the-image/#comments
      %pubdate Mon, 03 Dec 2012 16:50:27 +0000
      %dc:creator
        :cdata
          intheme
      %category
        :cdata
          Photography
      %category
        :cdata
          Post Formats
      %category
        :cdata
          quote
      %guid{:ispermalink => "false"} http://inthe.me/demo/fluxus/?p=261
      %description
        :cdata
          Lorem ipsum dolor sit amet, consectetur adipiscing elit. Mauris et hendrerit metus. Quisque non augue massa. Vivamus nec lacus sit amet diam porta blandit. Nulla ornare quam vitae arcu posuere lobortis. Curabitur imperdiet pellentesque ipsum eget euismod. Nam sagittis pretium vestibulum. Nam gravida, lacus vitae mattis hendrerit, nulla lectus varius &amp;#8230;<div class="wrap-excerpt-more"><a class="excerpt-more" href="http://inthe.me/demo/fluxus/quote-on-top-of-the-image/">Continue reading</a></div>
      %content:encoded
        :cdata
          <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Mauris et hendrerit metus. Quisque non augue massa. Vivamus nec lacus sit amet diam porta blandit. Nulla ornare quam vitae arcu posuere lobortis. Curabitur imperdiet pellentesque ipsum eget euismod. Nam sagittis pretium vestibulum. Nam gravida, lacus vitae mattis hendrerit, nulla lectus varius metus, eu pretium dui felis eget leo. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Quisque consectetur adipiscing cursus.</p>
      %wfw:commentrss http://inthe.me/demo/fluxus/quote-on-top-of-the-image/feed/
      %slash:comments 0
    %item
      %title Aside
      = succeed "http://inthe.me/demo/fluxus/aside/" do
        %link/
      %comments http://inthe.me/demo/fluxus/aside/#comments
      %pubdate Mon, 03 Dec 2012 08:26:54 +0000
      %dc:creator
        :cdata
          intheme
      %category
        :cdata
          Post Formats
      %category
        :cdata
          note
      %guid{:ispermalink => "false"} http://inthe.me/demo/fluxus/?p=287
      %description
        :cdata
          This is an aside post format. It usually has no title and acts as a note. Nunc convallis ante at mi scelerisque quis cursus risus auctor. Sed hendrerit malesuada risus, sit amet porta magna blandit in. Mauris bibendum interdum nisl vitae scelerisque. Suspendisse lectus nisi, volutpat id tincidunt eu, bibendum &amp;#8230;<div class="wrap-excerpt-more"><a class="excerpt-more" href="http://inthe.me/demo/fluxus/aside/">Continue reading</a></div>
      %content:encoded
        :cdata
          <p>This is an aside post format. It usually has no title and acts as a note.</p>
          <p>Nunc convallis ante at mi scelerisque quis cursus risus auctor. Sed hendrerit malesuada risus, sit amet porta magna blandit in. Mauris bibendum interdum nisl vitae scelerisque. Suspendisse lectus nisi, volutpat id tincidunt eu, bibendum mollis dolor. Integer euismod, urna ac euismod tristique, nisi erat pellentesque tortor, non molestie massa diam vel augue. Donec nulla purus, dictum non semper eu, euismod vel nulla. Morbi non purus quis ligula tempus placerat et et purus. Nam lacus eros, sollicitudin at malesuada vel, faucibus id tortor. Proin iaculis felis eget est elementum posuere.</p>
          <p>Maecenas vitae semper neque. Curabitur commodo neque sed diam vulputate id tincidunt nulla ultricies. Quisque interdum pharetra fringilla. Etiam ac facilisis quam. Duis bibendum odio vel eros adipiscing at luctus dui tempor. Ut et arcu erat, nec pellentesque ligula. Fusce in turpis ligula, in viverra lectus. Curabitur purus velit, pretium posuere lobortis vulputate, convallis sed orci. Etiam eleifend lacus dictum risus placerat sollicitudin. Suspendisse ante dui, imperdiet in adipiscing sed, pellentesque quis leo. Proin porta eleifend tempor. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Ut rutrum, tellus at cursus posuere, nisl quam vehicula erat, quis pharetra tellus lectus eget risus.</p>
      %wfw:commentrss http://inthe.me/demo/fluxus/aside/feed/
      %slash:comments 0
/ Served from: inthe.me @ 2014-08-30 04:38:04 by W3 Total Cache
