!!! XML
%rss{:version => "2.0", "xmlns:atom" => "http://www.w3.org/2005/Atom", "xmlns:content" => "http://purl.org/rss/1.0/modules/content/", "xmlns:dc" => "http://purl.org/dc/elements/1.1/", "xmlns:sy" => "http://purl.org/rss/1.0/modules/syndication/"}
  %channel
    %title Comments for Fluxus
    %atom:link{:href => "http://inthe.me/demo/fluxus/comments/feed/", :rel => "self", :type => "application/rss+xml"}/
    = succeed "http://inthe.me/demo/fluxus" do
      %link/
    %description portfolio theme for creatives
    %lastbuilddate Sat, 10 Aug 2013 02:54:12 +0000
    %sy:updateperiod hourly
    %sy:updatefrequency 1
    %generator http://wordpress.org/?v=3.9.2
    %item
      %title Comment on Featured Gallery by Jeff
      = succeed "http://inthe.me/demo/fluxus/featured-gallery/comment-page-1/#comment-25" do
        %link/
      %dc:creator
        :cdata
          Jeff
      %pubdate Sat, 10 Aug 2013 02:54:12 +0000
      %guid{:ispermalink => "false"} http://inthe.me/demo/fluxus/?p=231#comment-25
      %description
        :cdata
          this is a test comment
      %content:encoded
        :cdata
          <p>this is a test comment</p>
    %item
      %title Comment on Pretty Posts by Vilius
      = succeed "http://inthe.me/demo/fluxus/pretty-blog-posts/comment-page-1/#comment-4" do
        %link/
      %dc:creator
        :cdata
          Vilius
      %pubdate Mon, 03 Dec 2012 15:33:31 +0000
      %guid{:ispermalink => "false"} http://inthe.me/demo/fluxus/?p=198#comment-4
      %description
        :cdata
          Cras et dolor vitae risus pulvinar sollicitudin. Phasellus nec erat elit. Fusce rhoncus facilisis nulla at mattis. Integer nec eros at ante tincidunt suscipit eget et justo. Proin dignissim tellus dapibus diam ultricies eu pharetra nulla luctus. Curabitur blandit bibendum aliquam. Nulla facilisi. Donec venenatis fermentum nibh eu fringilla. Sed ut nisi orci. In ante sapien, ultricies vel ullamcorper posuere, posuere et lorem.
      %content:encoded
        :cdata
          <p>Cras et dolor vitae risus pulvinar sollicitudin. Phasellus nec erat elit. Fusce rhoncus facilisis nulla at mattis. Integer nec eros at ante tincidunt suscipit eget et justo. Proin dignissim tellus dapibus diam ultricies eu pharetra nulla luctus. Curabitur blandit bibendum aliquam. Nulla facilisi. Donec venenatis fermentum nibh eu fringilla. Sed ut nisi orci. In ante sapien, ultricies vel ullamcorper posuere, posuere et lorem.</p>
    %item
      %title Comment on Pretty Posts by Vilius
      = succeed "http://inthe.me/demo/fluxus/pretty-blog-posts/comment-page-1/#comment-3" do
        %link/
      %dc:creator
        :cdata
          Vilius
      %pubdate Mon, 03 Dec 2012 15:32:55 +0000
      %guid{:ispermalink => "false"} http://inthe.me/demo/fluxus/?p=198#comment-3
      %description
        :cdata
          Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nunc vestibulum eleifend nulla ut adipiscing. Sed at orci elit. Nam auctor leo porttitor ipsum fringilla rhoncus. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Nunc imperdiet augue quis urna faucibus tristique.
      %content:encoded
        :cdata
          <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nunc vestibulum eleifend nulla ut adipiscing. Sed at orci elit. Nam auctor leo porttitor ipsum fringilla rhoncus. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Nunc imperdiet augue quis urna faucibus tristique.</p>
    %item
      %title Comment on Pretty Posts by intheme
      = succeed "http://inthe.me/demo/fluxus/pretty-blog-posts/comment-page-1/#comment-2" do
        %link/
      %dc:creator
        :cdata
          intheme
      %pubdate Mon, 03 Dec 2012 15:31:57 +0000
      %guid{:ispermalink => "false"} http://inthe.me/demo/fluxus/?p=198#comment-2
      %description
        :cdata
          Example of a comment made by author of the post.
      %content:encoded
        :cdata
          <p>Example of a comment made by author of the post.</p>
/ Served from: inthe.me @ 2014-08-30 04:36:27 by W3 Total Cache
