<% @articles.each_with_index do |article, i| %>
  <div class="post-<%=i%> post type-post status-publish format-gallery hentry category-uncategorized tag-post-format-gallery" id="post-multi-photos-<%=i%>">
    <div class="post-header">
      <script>        
        jQuery(document).ready(function(){jQuery("#slider-<%=i%>").slides({preload:true,preloadImage:jQuery("#slider-<%=i%>").attr('data-loader'),generatePagination:false,generateNextPrev:true,effect:'fade',crossfade:true,autoHeight:true,bigTarget:true});});
      </script>
      <div class="slider" data-loader="http://turbo.themezilla.com/memo/wp-content/themes/memo/images/ajax-loader.gif" id="slider-<%=i%>">
        <div class="slides_container clearfix">
          <% article[:imgs].each do |img_path| %>
            <div>
              <img src="<%= img_path %>" width="600" height="400"/>
            </div>
          <% end %>
          <% article[:videos].each do |video_path| %>
            <iframe frameborder="0" src="<%= video_path.strip %>" width="600"></iframe>
          <% end %>
        </div>
      </div>
      <a href="http://demo.themezilla.com/memo/the-hidden-message-of-jingle-bells/" title="Permanent Link to The Hidden Message of Jingle Bells"></a>
      <span class="hanger-left"></span>
      <span class="hanger-right"></span>
    </div>
    <div class="entry-header">
      <h2 class="entry-title">
        <%= "#{article[:name].capitalize}: #{article[:title]}"  %>
      </h2>
    </div>
    <div class="entry-content clearfix">
      <p>
        <% article[:content].each do |line| %>
          <%= "#{line}<br>"  %>   
        <% end %>
      </p>
    </div>
  </div>
<% end %>