
<% @articles.each_with_index do |article, i| %>
  <div class="post-<%=i%> post type-post status-publish format-standard hentry category-uncategorized tag-standard" id="post-single-photo-<%=i%>">
    <div class="post-header">      
        <img class="attachment-tz_featured wp-post-image" height="389" src="<%= article[:imgs].first %>" width="600"/>
      </a>
      <span class="hanger-left"></span>
      <span class="hanger-right"></span>
    </div>
    <div class="entry-header">
      <h2 class="entry-title">
        <%= "#{article[:name]}: #{article[:title]}"  %>
      </h2>
    </div>
    <div class="entry-content clearfix">
      <p>
        <% article[:content].each do |line| %>
          <%= "#{line}<br>"  %>   
        <% end %>
      </p>
    </div>
  </div>
<% end %> 