<% @articles.each_with_index do |article, i| %>
  <div class="post-<%=i%> post type-post status-publish format-video hentry category-uncategorized tag-video" id="post-<%= i%>">
    <div class="post-header">
      <iframe frameborder="0" height="338" src=<%= article[:video_path] %> width="601"></iframe>
      <span class="hanger-left"></span>
      <span class="hanger-right"></span>
    </div>
    <div class="entry-header">
      <h2 class="entry-title">
        <%= article[:title] %>
      </h2>
    </div>
    <div class="entry-content clearfix"> 
      <p>
        <%= article[:content] %>
      </p>
    </div>
  </div>
<% end %>