!!! XML
%rss{:version => "2.0", "xmlns:atom" => "http://www.w3.org/2005/Atom", "xmlns:content" => "http://purl.org/rss/1.0/modules/content/", "xmlns:dc" => "http://purl.org/dc/elements/1.1/", "xmlns:slash" => "http://purl.org/rss/1.0/modules/slash/", "xmlns:sy" => "http://purl.org/rss/1.0/modules/syndication/", "xmlns:wfw" => "http://wellformedweb.org/CommentAPI/"}
  %channel
    %title Fluxus » Photography
    %atom:link{:href => "http://inthe.me/demo/fluxus/category/photography/feed/", :rel => "self", :type => "application/rss+xml"}/
    = succeed "http://inthe.me/demo/fluxus" do
      %link/
    %description portfolio theme for creatives
    %lastbuilddate Sun, 04 May 2014 19:51:50 +0000
    %language en-US
    %sy:updateperiod hourly
    %sy:updatefrequency 1
    %generator http://wordpress.org/?v=3.9.2
    %item
      %title Portrait Gallery
      = succeed "http://inthe.me/demo/fluxus/portrait-gallery/" do
        %link/
      %comments http://inthe.me/demo/fluxus/portrait-gallery/#comments
      %pubdate Mon, 03 Dec 2012 17:23:07 +0000
      %dc:creator
        :cdata
          intheme
      %category
        :cdata
          Photography
      %category
        :cdata
          portraits
      %guid{:ispermalink => "false"} http://inthe.me/demo/fluxus/?p=278
      %description
        :cdata
          Nunc convallis ante at mi scelerisque quis cursus risus auctor. Sed hendrerit malesuada risus, sit amet porta magna blandit in. Mauris bibendum interdum nisl vitae scelerisque. Suspendisse lectus nisi, volutpat id tincidunt eu, bibendum mollis dolor.<div class="wrap-excerpt-more"><a class="excerpt-more" href="http://inthe.me/demo/fluxus/portrait-gallery/">Continue reading</a></div>
      %content:encoded
        :cdata
          <p>Nunc convallis ante at mi scelerisque quis cursus risus auctor. Sed hendrerit malesuada risus, sit amet porta magna blandit in. Mauris bibendum interdum nisl vitae scelerisque. Suspendisse lectus nisi, volutpat id tincidunt eu, bibendum mollis dolor.</p>
          
          <a href='http://inthe.me/demo/fluxus/portrait-gallery/00-2/'><img width="500" height="500" src="http://js.inthe.me/demo/fluxus/wp-content/uploads/2012/12/00-500x500.jpg?fcbd44" class="attachment-fluxus-gallery-thumbnail" alt="00" /></a>
          <a href='http://inthe.me/demo/fluxus/portrait-gallery/000-3/'><img width="500" height="500" src="http://js2.inthe.me/demo/fluxus/wp-content/uploads/2012/12/0001-500x500.jpg?fcbd44" class="attachment-fluxus-gallery-thumbnail" alt="000" /></a>
          <a href='http://inthe.me/demo/fluxus/portrait-gallery/beautiful-fashion-woman-portrait-bw-image-2/'><img width="500" height="500" src="http://css.inthe.me/demo/fluxus/wp-content/uploads/2012/12/photodune-2939727-beautiful-fashion-woman-portrait-bw-image-l-500x500.jpg?fcbd44" class="attachment-fluxus-gallery-thumbnail" alt="Beautiful fashion woman portrait. B/W Image" /></a>
          <a href='http://inthe.me/demo/fluxus/portrait-gallery/red-hair-fashion-girl-portrait-2/'><img width="500" height="500" src="http://js.inthe.me/demo/fluxus/wp-content/uploads/2012/12/photodune-3027487-red-hair-fashion-girl-portrait-l-500x500.jpg?fcbd44" class="attachment-fluxus-gallery-thumbnail" alt="Red Hair. Fashion Girl Portrait" /></a>
      %wfw:commentrss http://inthe.me/demo/fluxus/portrait-gallery/feed/
      %slash:comments 0
    %item
      %title Featured Gallery
      = succeed "http://inthe.me/demo/fluxus/featured-gallery/" do
        %link/
      %comments http://inthe.me/demo/fluxus/featured-gallery/#comments
      %pubdate Mon, 03 Dec 2012 17:20:19 +0000
      %dc:creator
        :cdata
          intheme
      %category
        :cdata
          Photography
      %category
        :cdata
          images
      %guid{:ispermalink => "false"} http://inthe.me/demo/fluxus/?p=231
      %description
        :cdata
          Sed tincidunt arcu nec tortor feugiat sit amet fermentum dolor aliquet. In dictum blandit metus, ornare pulvinar est dapibus id. Pellentesque mollis, enim in blandit ullamcorper.<div class="wrap-excerpt-more"><a class="excerpt-more" href="http://inthe.me/demo/fluxus/featured-gallery/">Continue reading</a></div>
      %content:encoded
        :cdata
          <p>Sed tincidunt arcu nec tortor feugiat sit amet fermentum dolor aliquet. In dictum blandit metus, ornare pulvinar est dapibus id. Pellentesque mollis, enim in blandit ullamcorper, libero nulla vulputate mauris, eu varius nunc dolor sit amet massa. Suspendisse nec lectus eros, sed gravida odio. Duis a sem mauris, nec consequat neque. Sed ac feugiat augue. Aliquam sit amet nisl non quam iaculis cursus a at urna. Aenean sem turpis, mollis blandit tempor at, condimentum vel lorem. Vivamus lacus risus, sollicitudin sed consequat in, tincidunt nec turpis. Donec molestie massa eu felis feugiat commodo.</p>
          
          <a href='http://inthe.me/demo/fluxus/featured-gallery/2-3/'><img width="500" height="500" src="http://css.inthe.me/demo/fluxus/wp-content/uploads/2012/12/2-500x500.jpg?fcbd44" class="attachment-fluxus-gallery-thumbnail" alt="2" /></a>
          <a href='http://inthe.me/demo/fluxus/featured-gallery/3-3/'><img width="500" height="500" src="http://js.inthe.me/demo/fluxus/wp-content/uploads/2012/12/3-500x500.jpg?fcbd44" class="attachment-fluxus-gallery-thumbnail" alt="3" /></a>
          <a href='http://inthe.me/demo/fluxus/featured-gallery/4-3/'><img width="500" height="500" src="http://js.inthe.me/demo/fluxus/wp-content/uploads/2012/12/4-500x500.jpg?fcbd44" class="attachment-fluxus-gallery-thumbnail" alt="4" /></a>
          <a href='http://inthe.me/demo/fluxus/featured-gallery/11-2/'><img width="500" height="500" src="http://js2.inthe.me/demo/fluxus/wp-content/uploads/2012/12/11-500x500.jpg?fcbd44" class="attachment-fluxus-gallery-thumbnail" alt="11" /></a>
          <a href='http://inthe.me/demo/fluxus/featured-gallery/13-3/'><img width="500" height="500" src="http://js.inthe.me/demo/fluxus/wp-content/uploads/2012/12/13-500x500.jpg?fcbd44" class="attachment-fluxus-gallery-thumbnail" alt="13" /></a>
          <a href='http://inthe.me/demo/fluxus/featured-gallery/14-4/'><img width="500" height="500" src="http://js.inthe.me/demo/fluxus/wp-content/uploads/2012/12/14-500x500.jpg?fcbd44" class="attachment-fluxus-gallery-thumbnail" alt="14" /></a>
      %wfw:commentrss http://inthe.me/demo/fluxus/featured-gallery/feed/
      %slash:comments 1
    %item
      %title Sunset
      = succeed "http://inthe.me/demo/fluxus/sunset/" do
        %link/
      %comments http://inthe.me/demo/fluxus/sunset/#comments
      %pubdate Mon, 03 Dec 2012 17:17:23 +0000
      %dc:creator
        :cdata
          intheme
      %category
        :cdata
          Photography
      %category
        :cdata
          black and white
      %category
        :cdata
          inspiring
      %guid{:ispermalink => "false"} http://inthe.me/demo/fluxus/?p=272
      %description
        :cdata
          Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aenean bibendum porttitor elit nec vehicula. Sed luctus sapien at odio consequat viverra. Nam in nulla orci, scelerisque consectetur purus. Nam ac magna libero. Nullam porta placerat sapien.<div class="wrap-excerpt-more"><a class="excerpt-more" href="http://inthe.me/demo/fluxus/sunset/">Continue reading</a></div>
      %content:encoded
        :cdata
          <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aenean bibendum porttitor elit nec vehicula. Sed luctus sapien at odio consequat viverra. Nam in nulla orci, scelerisque consectetur purus. Nam ac magna libero. Nullam porta placerat sapien, at tincidunt arcu blandit non. Vestibulum tristique auctor lectus, sed dignissim ante pretium vel. Phasellus et mi leo. Nullam consequat, est id feugiat dignissim, turpis tortor scelerisque elit, laoreet semper enim dui in arcu.</p>
          <p>Aenean iaculis libero ac metus condimentum pharetra. Phasellus feugiat tortor et dui laoreet pellentesque. Aliquam erat volutpat. Maecenas ultrices dolor nec urna suscipit sit amet interdum velit dictum. Nam dapibus nunc quis orci consequat tempus. Mauris vel pellentesque augue. Cras magna risus, volutpat ut hendrerit sed, sollicitudin in augue. Cras vel risus mauris, ac pellentesque ipsum.</p>
      %wfw:commentrss http://inthe.me/demo/fluxus/sunset/feed/
      %slash:comments 0
    %item
      %title Quote on top of the Image
      = succeed "http://inthe.me/demo/fluxus/quote-on-top-of-the-image/" do
        %link/
      %comments http://inthe.me/demo/fluxus/quote-on-top-of-the-image/#comments
      %pubdate Mon, 03 Dec 2012 16:50:27 +0000
      %dc:creator
        :cdata
          intheme
      %category
        :cdata
          Photography
      %category
        :cdata
          Post Formats
      %category
        :cdata
          quote
      %guid{:ispermalink => "false"} http://inthe.me/demo/fluxus/?p=261
      %description
        :cdata
          Lorem ipsum dolor sit amet, consectetur adipiscing elit. Mauris et hendrerit metus. Quisque non augue massa. Vivamus nec lacus sit amet diam porta blandit. Nulla ornare quam vitae arcu posuere lobortis. Curabitur imperdiet pellentesque ipsum eget euismod. Nam sagittis pretium vestibulum. Nam gravida, lacus vitae mattis hendrerit, nulla lectus varius &amp;#8230;<div class="wrap-excerpt-more"><a class="excerpt-more" href="http://inthe.me/demo/fluxus/quote-on-top-of-the-image/">Continue reading</a></div>
      %content:encoded
        :cdata
          <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Mauris et hendrerit metus. Quisque non augue massa. Vivamus nec lacus sit amet diam porta blandit. Nulla ornare quam vitae arcu posuere lobortis. Curabitur imperdiet pellentesque ipsum eget euismod. Nam sagittis pretium vestibulum. Nam gravida, lacus vitae mattis hendrerit, nulla lectus varius metus, eu pretium dui felis eget leo. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Quisque consectetur adipiscing cursus.</p>
      %wfw:commentrss http://inthe.me/demo/fluxus/quote-on-top-of-the-image/feed/
      %slash:comments 0
/ Served from: inthe.me @ 2014-08-30 04:38:03 by W3 Total Cache
